<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.womow.toc.whocare.clbx.mapper.BxClMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.womow.toc.whocare.clbx.model.BxClDto">
        <id column="id_" property="id_" />
        <result column="code_" property="code_" />
        <result column="proj_id_" property="proj_id_" />
        <result column="proj_code_" property="proj_code_" />
        <result column="proj_name_" property="proj_name_" />
        <result column="bxr_ids_" property="bxr_ids_" />
        <result column="bxr_names_" property="bxr_names_" />
        <result column="subsidy_amount_" property="subsidy_amount_" />
        <result column="total_amount_" property="total_amount_" />
        <result column="pmo_" property="pmo_" />
        <result column="creator_id_" property="creator_id_" />
        <result column="creator_name_" property="creator_name_" />
        <result column="create_time_" property="create_time_" />
        <result column="type_flag_" property="type_flag_" />
        <result column="proc_id_" property="proc_id_" />
        <result column="proc_status_" property="proc_status_" />
        <result column="status_" property="status_" />
        <result column="terminated_time_" property="terminated_time_" />
        <result column="terminated_reason_" property="terminated_reason_" />
        <result column="is_can_print_" property="is_can_print_" />
        <result column="query_flag_" property="query_flag_" />
        <result column="xj_amount_" property="xj_amount_" />
        <result column="xj_tip_" property="xj_tip_" />
        <result column="cz_json_" property="cz_json_" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_, code_, proj_id_, proj_code_, proj_name_, bxr_ids_, bxr_names_, subsidy_amount_, total_amount_, pmo_, creator_id_, creator_name_, create_time_, type_flag_, proc_id_, proc_status_, status_, terminated_time_, terminated_reason_, is_can_print_, query_flag_, xj_amount_, xj_tip_, cz_json_
    </sql>

</mapper>
