<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.womow.toc.whocare.clbx.mapper.ChuxingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.womow.toc.whocare.clbx.model.ChuxingDto">
        <id column="id_" property="id_" />
        <result column="bx_id_" property="bx_id_" />
        <result column="didian_" property="didian_" />
        <result column="mudi_" property="mudi_" />
        <result column="proposer_" property="proposer_" />
        <result column="proposer_name_" property="proposer_name_" />
        <result column="st_" property="st_" />
        <result column="et_" property="et_" />
        <result column="txr_" property="txr_" />
        <result column="beizhu_" property="beizhu_" />
        <result column="create_time_" property="create_time_" />
        <result column="status_" property="status_" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_, bx_id_, didian_, mudi_, proposer_, proposer_name_, st_, et_, txr_, beizhu_, create_time_, status_
    </sql>
    <insert id="insertB">

    </insert>

</mapper>
