<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.womow.toc.whocare.test">
    <select id="freemarkerTest" resultType="map" lang="org.mybatis.scripting.freemarker.FreeMarkerLanguageDriver">
<![CDATA[
        <#assign keyword=proposer_name_+'%'/>
         select * from t_pmis_chuxing_copy1
                where proposer_name_ in(
                 <#list proposer_name_s as one><@p value=one/><#sep>, </#sep></#list>
                )
                or proposer_name_ like <@p value=keyword/>

        ]]>
</select>
</mapper>